

<div class="accent-bar" @onclick="Onclick"><span>@Title</span></div>


@code {

    [Parameter] 
    public string Title { get; set; } = "";

    [Parameter] // the event to trigger when the div is clicked
    public  EventCallback Onclick { get; set; }

}
