@using BrightApricot.Client.Enums
<div class="ActionButton" @onclick="TriggerAction"> @* the outer button *@
    <i class="fas @ActionSymbol"></i> @* the symbol gotten from fontawesome *@
</div>

@code {
    [Parameter]
    public EventCallback CreateAction { get; set; }
    [Parameter]
    public EventCallback EditAction { get; set; }
    [Parameter]
    public EventCallback SaveAction { get; set; }

    [Parameter]
    public ActionTypes Action { get; set; }

    ///<summary>
    /// allows external refresh of the icon
    /// </summary>
    public void UpdateAction() => StateHasChanged();

    ///<summary>
    ///interperts what icon to show
    /// </summary>
    /// <returns>The "class" corresponding to the correct fa icon</returns>
    private string ActionSymbol => Action switch {
        ActionTypes.Create => "fa-plus",
        ActionTypes.Edit => "fa-pencil-alt",
        ActionTypes.Save => "fa-check",
        _ => "fa-exclamation-triangle"
    };

    ///<summary>
    /// the event handler for the click action
    /// </summary>
    private async void TriggerAction()
    {
        switch (Action)
        {
            case ActionTypes.Edit:
                await EditAction.InvokeAsync(null);
                break;

            case ActionTypes.Create:
                await CreateAction.InvokeAsync(null);
                break;

            case ActionTypes.Save:
                await SaveAction.InvokeAsync(null);
                break;
            default:
                break;
        }
    }
}
