<div class="RecipeDetailView">
    @if (!EditPassthrough){
            <img src="@Recipe.DataUrl" alt="@Recipe.Title" class="RecipeImage"/>
        <div class="RecipeDetailView-text">
            <h3>@Recipe.Title</h3>
            <article>@Recipe.Description</article>
        </div> 
        <hr style="width: 95%; margin-bottom: 5px;"/>
    } else {
        @EditView
    }
    
</div>




@code {
    [Parameter]
    public Recipe Recipe { get; set; }

    [Parameter]
    public bool EditPassthrough { get; set; }
    [Parameter]
    public RenderFragment EditView { get; set; }
}
