<div class="RecipeListItem">
    <img src="@Recipe.DataUrl" alt="photo" class="item-content recipe-image"/>
    <div class="recipe-card-info">
        <div>
            <h3 class="item-content">@Recipe.Title</h3>
        </div>
        <AccentBar Title="View" Onclick="OnSelected"/>
    </div>
    
</div>

@code {
    [Parameter]
    public Recipe Recipe { get; set; }

    [Parameter]
    public EventCallback OnSelected { get;set; }
}
