<div class="RecipeDetailView">
    <img src="@Recipe.DataUrl" alt="@Recipe.Title" class="RecipeImage"/>
    <div class="RecipeDetailView-text">
        <h3>@Recipe.Title</h3>
        <article>@Recipe.Description</article>
    </div> 
    <hr style="width: 95%; margin-bottom: 5px;"/>
</div>




@code {
    [Parameter]
    public Recipe Recipe { get; set; }
}
