<div class="Titlebar">
    @if (ShowBackButton)
    {
        <span @onclick="BackButtonAction"
               class="BackButton">
            <i class="fas fa-chevron-left"></i>
            Back
        </span>
    }
    <h1 class="Title">@Title</h1>
</div>



@code {
	[Parameter]
	public string Title { get; set; }

    [Parameter]
    public EventCallback BackButtonAction { get; set; }

    [Parameter]
    public bool ShowBackButton { get; set; } = false;


    public void UpdateState() => 
        StateHasChanged();
    
}
