
@mixin border-top($size, $color) {
    border-top: $size solid $color;
}

@mixin border-bottom($size, $color) {
    border-bottom: $size solid $color;
}

@mixin border-left($size, $color) {
    border-left: $size solid $color;
}

@mixin border-right($size, $color) {
    border-right: $size solid $color;
}

@mixin Border-sm($side: "all", $color) {
    @if $side == "top" {
        @include border-top(1px, $color);
    }

    @if $side == "bottom" {
        @include border-bottom(1px, $color);
    }

    @if $side == "left" {
        @include border-left(1px, $color);
    }

    @if $side == "right" {
        @include border-right(1px, $color);
    }
}